/*************************************
*    create by xiaofeng.yao
*    email 871213171@qq.com
*    time 2017.07.04
*    component all
*    path /Users/apple/react/Money-Books/src/assets/scss/variable.scss
*************************************/
$a-color:#79589F;                     // 页面主色调
$b-color:#AB8ECD;                     // 主色搭配色，紫
$c-color:rgba(242, 238, 255, 0.6);    // 主色搭配色，淡灰
$d-color:#96A3B6;                     // 主色搭配色，浓灰
$e-color:#fff;                        // 主色搭配色，白

$txt-color:rgba(89, 105, 129, 0.8);   // 文本主色调


$default-size:12px;        // 默认字体大小
$min-size:14px;            // 一般变大字体
$center-size:16px;         // 变大字体
$max-size:18px;            // 大字体
$max-max-size:24px;        // 大大字体
$max-max-max-size:32px;    // 大大大字体