.homeNav-li{
    width:250px;
    height:250px;
    background-color:#fff;
    transition:0.5s;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto 20px;
    i{
        display:inline-block;
        line-height: 250px;
        font-size: 16px;
    }
    &:hover{
        box-shadow:-4px 4px 20px -6px #777;
    }
}