.activeDetail{
    max-width: 1200px;
    margin: auto;
    background-color:#fff;
    padding: 15px;
    border: 1px dashed #eee;
    h1{
        font-size: 28px;
        color:#1DA57A;
    }
    .iconDetail_user{
        font-size: 12px;
        color: #ccc;
        padding:5px 0;
    }
    .iconDetail_content{
        padding: 30px;
        border-top: 1px dashed #eee;
        border-bottom: 1px dashed #eee;
    }
    .iconDetail_message{
        // width:500px;
        margin: 0 auto;
    }   
}