.comment-input{
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}
.comment-field{
    display: flex;
    margin-bottom: 15px;
}
.comment-field-name{
    flex-basis: 100px;
    font-size: 14px;
}
.comment-field-input{
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
}
.comment-field-input input, .comment-field-input textarea {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    -webkit-box-flex: 1;
    flex: 1;
}
.comment-field-button{
    text-align: right;
}
.comment-field-button>input[type="button"] {
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00a3cf;
    color: #fff;
    outline: none;
    cursor: pointer;
}